.carousel-banner {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-brand);
}

.carousel-banner h2 {
  font-size: 3em;
  font-family: var(--montserrat);
  color: var(--white);
}

:root {
  --main-brand: #F283E3;
  --secondary-brand: #BCD0F5;
  --black: #1C2738;
  --lighter-black: #313E52;
  --primary-background: #E7F8FE;
  --secondary-background: #E0F1F7;
  --white: #F4F4F4;
  --brighter-white: #FFF;
  --darker-black: #111111;
  --grey: #C9CDD3;
  --purple: #C2B7FC;
  --whatsapp: #17980E;
  --transition-time: 200ms;
  --montserrat: "Montserrat", sans-serif;
  --indie-flower: "Indie Flower", cursive;
  --emblema-one: "Emblema One", system-ui
}

.carousel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-color: var(--primary-background);
}

.carousel {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-item {
  min-width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  background: none;
}

.carousel-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-brand);
  width: 100%;
  margin-left: auto;
  padding: 2em;
}

.carousel-item img {
  width: 100%;
  grid-column: 1/2;
}

.information {
  font-family: var(--montserrat);
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-right: auto;
  padding: 2em;
  background-color: var(--white);
}

.information h3 {
  font-family: var(--emblema-one);
  font-size: 2em;
  color: var(--main-brand);
}

.price {
  color: var(--secondary-brand);
  font-weight: 700;
}

.information-header {
  width: 100%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brighter-white);
  padding: 2em 4em;
  border: solid 1px var(--lighter-black);
  border-bottom: solid 2px var(--grey);
  border-top-right-radius: 5em;
  border-top-left-radius: 5em;
}

.information-description {
  align-self: flex-start;
  padding: 20% 4em;
  background-color: var(--brighter-white);
  border: solid 1px var(--lighter-black);
  border-bottom: solid 1px var(--grey);
  border-top: none;
  width: 100%;
  line-height: 1.5em;
  letter-spacing: .04em;
  font-size: 1.1em;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--brighter-white);
  border: solid 1px var(--lighter-black);
  border-top: solid 1px var(--grey);
  padding: 2em 4em;
  border-bottom-right-radius: 5em;
  border-bottom-left-radius: 5em;
}

.buttons button {
  font-family: var(--montserrat);
  color: var(--white);
  background-color: var(--main-brand);
  border: none;
  font-weight: 600;
  width: 12em;
  height: 62px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 1em;
  cursor: pointer;
}

.prev {
  left: 1em;
}

.next {
  right: 1em;
}