@import url('https://fonts.googleapis.com/css2?family=Emblema+One&family=Indie+Flower&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-brand: #F283E3;
  --secondary-brand: #BCD0F5;
  --black: #1C2738;
  --lighter-black: #313E52;
  --primary-background: #E7F8FE;
  --secondary-background: #E0F1F7;
  --white: #F4F4F4;
  --darker-black: #111111;
  --grey: #C9CDD3;
  --purple: #C2B7FC;
  --whatsapp: #17980E;
  --transition-time: 200ms;
  --montserrat: "Montserrat", sans-serif;
  --indie-flower: "Indie Flower", cursive;
  --emblema-one: "Emblema One", system-ui
}

button {
  cursor: pointer;
  border-radius: 5em;
  padding: 1em 2em;
  font-size: 1em;
  font-weight: 400;
  background: none;
  letter-spacing: .04em;
  z-index: 10;
}

a {
  text-decoration: none;
}

.cabecalho-principal {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: repeat(25%, 4);
  box-sizing: border-box;
  padding: 1em 12.5%;
  font-family: "Montserrat", sans-serif;
}

.brand-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-name a {
  font-family: "Indie Flower", serif;
  font-size: 2.5em;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--main-brand);
  transition: var(--transition-time);
}

.brand-name:hover {
  color: var(--secondary-brand);
}

.cabecalho-principal nav {
  grid-column: 2/2;
}

.cabecalho-principal nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2em;
}

.carrinho-button {
  border: none;
  color: var(--main-brand);
  display: flex;
  align-items: center;
}

.carrinho-button img {
  width: 30px;
  height: 30px;
}

.link-pagina {
  color: var(--lighter-black);
  transition: var(--transition-time);
}

.link-pagina:hover {
  color: var(--secondary-brand);
}

.whatsapp-button {
  color: var(--whatsapp);
  border: solid 2px var(--whatsapp);
  width: 10em;
  font-family: var(--montserrat);
  font-weight: 600;
}

.contato-button {
  color: var(--main-brand);
  border: solid 2px var(--main-brand);
  width: 10em;
  font-family: var(--montserrat);
  font-weight: 600;
}